<div
  class="container-fluid bg-dark p-1 text-center d-flex justify-content-between"
>
  <div class="container-lg d-flex justify-content-between">
    <div class="endereco container-lg">
      <span class="navbar-text text-light m-auto align-items-center"
        ><i class="bi bi-geo-alt-fill"></i>
        Avenida Aparecida Lopes Flor - 02 - Américo Brasiliense - SP
      </span>
    </div>
    <div class="social justify-content-end d-flex">
      <a href="#">
        <i class="bi bi-whatsapp text-light mx-1"></i>
      </a>
      <a href="https://www.facebook.com/advocaciazaniolo" target="_blank">
        <i class="bi bi-facebook text-light mx-1"></i>
      </a>
    </div>
  </div>
</div>
