<div class="container mt-5">
  <h2 class="text-center mb-5">Áreas de Atuação</h2>

  <div class="d-flex justify-content-center flex-wrap align-items-center">
    <div class="text-content">
      <div
        class="content d-flex justify-content-around flex-wrap gap-5 align-items-center"
      >
        <div class="list">
          <h3 class="mb-3">Criminal</h3>
          <ul>
            <li>Defesa em Audiência de Custódia</li>
            <li>Pedido de Liberdade Provisória</li>
            <li>Pedido de Prisão Domiciliar</li>
            <li>Impetração de Habeas Corpus</li>
            <li>Revogação de Prisão Preventiva</li>
            <li>Acompanhamento em Delegacia</li>
            <li>Pedido de Progressão de Regime</li>
            <li>Recursos de Apelação</li>
            <li>Atuação no Tribunal do Júri</li>
          </ul>
          <h3 class="mb-3">Cível/Família</h3>
          <ul>
            <li>Divórcio</li>
            <li>Separação</li>
            <li>Guarda de Filhos</li>
            <li>Pedido de Alimentos</li>
            <li>Reconhecimento de União Estável</li>
          </ul>
        </div>
        <div class="img text-center">
          <img
            src="assets/imagens/img-perfil3.png"
            class="img-thumbnail"
            alt="Imagem Perfil"
          />
          <p class="fst-italic">Dr. Rubens Walter Ap. Zaniolo</p>
        </div>
      </div>
      <h4 class="text-center mt-4">
        Atendimento disponível em todas as cidades do interior paulista.
      </h4>
    </div>
  </div>
</div>
