<h2 class="text-center mb-5">Contato</h2>
<div
  class="container-lg container-fluid mb-4 d-flex gap-5 justify-content-center flex-wrap align-items-center"
>
  <div class="left-side">
    <h4>Endereço</h4>
    <p class="fst-italic">
      <i class="bi bi-geo-alt-fill"></i>
      Avenida Aparecida Lopes Flor - 02 - Américo Brasiliense - SP
    </p>
    <h4 class="mb-2">Localização</h4>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3706.3293511147126!2d-48.103378323775!3d-21.728753796836145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8f649e57c0879%3A0x7798537dcc073d1a!2sAv.%20Aparecida%20Lopes%20Flor%2C%2002%20-%20Maria%20Lu%C3%ADza%2C%20Am%C3%A9rico%20Brasiliense%20-%20SP%2C%2014820-000!5e0!3m2!1spt-BR!2sbr!4v1701873274152!5m2!1spt-BR!2sbr"
      width="600"
      height="350"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      class="img-fluid"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="right-side">
    <h4 class="mb-0">QR Code</h4>
    <p class="fst-italic mb-2">Conta Comercial do WhatsApp</p>
    <img
      src="assets/imagens/qrcode.png"
      class="img-thumbnail img-fluid"
      alt="QR Code"
    />
  </div>
</div>
<h4 class="text-center mb-5">Atendimento 24 Horas</h4>
<div
  class="container-lg container-fluid mb-4 d-flex justify-content-center flex-wrap gap-5"
>
  <div class="telefones">
    <h4 class="mb-3">Telefone:</h4>
    <p class="mb-1">
      <i class="bi bi-telephone-fill"></i>
      (16) 99711-4194
    </p>
    <p>
      <i class="bi bi-telephone-fill"></i>
      (16) 98157-4740
    </p>
  </div>
  <div class="email">
    <h4>Email</h4>
    <p>
      <i class="bi bi-envelope-at-fill"></i>
      wzaniolo@hotmail.com
    </p>
  </div>
  <div class="redes-sociais">
    <h4>Redes Sociais</h4>
    <p class="mb-1">
      <a
        href="https://www.facebook.com/advocaciazaniolo"
        target="_blank"
        class="link"
      >
        <i class="bi bi-facebook icone-facebook"></i>
      </a>
      <a href="https://wa.me/16997114194" class="link" target="_blank">
        <i class="bi bi-whatsapp icone-whatsapp ms-3"></i>
      </a>
      <a
        href="https://meudigicard.com/zaniolo_advocacia/"
        class="link"
        target="_blank"
      >
        <i class="bi bi-person-vcard-fill icone-card ms-3"></i>
      </a>
    </p>
  </div>
</div>
