<app-topper></app-topper>
<header
  class="container-fluid bg-body-tertiary d-flex justify-content-center p-2"
>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid collapse navbar-collapse">
      <!-- <a href="#">
        <img src="assets/imagens/za-logo.png" alt="Logo" class="mx-5" />
      </a> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link fs-6 p-3 text-secondary-emphasis fw-normal"
              routerLink=""
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fs-6 p-3 text-secondary-emphasis fw-normal"
              routerLink="about"
              >SOBRE MIM</a
            >
          </li>
          <a href="#">
            <img src="assets/imagens/za-logo.png" alt="Logo" class="mx-5" />
          </a>
          <li class="nav-item">
            <a
              class="nav-link fs-6 p-3 text-secondary-emphasis fw-normal"
              href="#"
              >ÁREAS DE ATUAÇÃO</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link fs-6 p-3 text-secondary-emphasis fw-normal"
              href="#"
              >CONTATO</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- https://static.wixstatic.com/media/3ed83b_7d4ad9be70cc4b7db1cbb6b793f319ae~mv2.png/v1/fill/w_199,h_49,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3ed83b_7d4ad9be70cc4b7db1cbb6b793f319ae~mv2.png -->
