<div
  class="container-lg container-fluid d-flex justify-content-center flex-row flex-wrap gap-3 mb-5"
>
  <img
    src="assets/imagens/img-perfil.png"
    class="img-thumbnail"
    width="350px"
  />
  <div class="text-content" style="width: 600px">
    <div class="title-content">
      <h1 class="mb-0">Dr. Rubens Walter Ap. Zaniolo</h1>
      <span class="fst-italic"> Advogado Criminalista - OAB/SP 143.155</span>
      <div class="description mt-4">
        <p>
          Advogado graduado em Direito pela Universidade de Araraquara - UNIARA,
          com especialização em Prática no Tribunal do Júri pela Escola Superior
          de Advocacia do Brasil, da Ordem dos Advogados do Brasil.
        </p>
        <p>
          O advogado desempenha um papel fundamental na administração da
          justiça, sendo um instrumento básico para garantir a defesa dos
          interesses das partes em juízo.
        </p>
        <p>
          Por essa razão, a advocacia não é simplesmente uma profissão, mas sim
          um <span class="fst-italic">munus publicum</span>, ou seja, um encargo
          público. Embora não seja um agente estatal, ela compõe um dos
          elementos da administração democrática do Poder Judiciário.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- hr -->
<div class="container-lg container-fluid mt-3">
  <hr class="border border-black border-1 opacity-75" />
</div>
<!-- hr -->
<section
  class="container-lg container-fluid mt-5 d-flex justify-content-center flex-row flex-wrap gap-3 mt-5"
>
  <div class="text-content" style="width: 600px">
    <div class="title-content">
      <h3 class="mb-0">Advogado</h3>
      <div class="description mt-4">
        <p class="mb-4">
          O vocábulo deriva da expressão em latim
          <span class="fst-italic">ad vocatus</span>, que significa 'o que foi
          chamado'. No contexto do Direito romano, essa expressão designava a
          terceira pessoa que o litigante chamava perante o juízo para falar a
          seu favor ou defender seus interesses.
        </p>
        <h4 class="mb-3">Atuação da Advocacia Zaniolo</h4>
        <p>
          Dr. Walter Zaniolo atua nas áreas de Direito Criminal, Direito Civil,
          Direito de Família e Sucessões. Oferece assessoria e consultoria
          jurídica para empresas e organizações religiosas.
        </p>
      </div>
    </div>
  </div>
  <img
    src="assets/imagens/img-perfil2.png"
    class="img-thumbnail"
    width="350px"
  />
</section>
<div class="container-lg container-fluid mt-3">
  <hr class="border border-black border-1 opacity-50" />
</div>
<!-- hr -->
<div
  class="container-lg container-fluid d-flex justify-content-center flex-row flex-wrap gap-3 mt-5 mb-5"
>
  <img
    src="assets/imagens/escritorio2.jpg"
    class="img-thumbnail"
    width="350px"
  />
  <div class="text-content" style="width: 600px">
    <div class="title-content">
      <h3 class="mb-0">O Escritório</h3>
      <div class="description mt-4">
        <p>
          Espaço profissional destinado à prestação de serviços jurídicos e
          orientação legal. Projetado com um ambiente que busca proporcionar uma
          atmosfera acolhedora e confortável, o escritório visa atender e servir
          melhor aos clientes.
        </p>
      </div>
    </div>
  </div>
</div>
