<div class="container-lg container-fluid mb-4">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/imagens/CAPA-01.png"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/imagens/CAPA-02.png"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/imagens/CAPA-03.png"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Cards -->
<div
  class="container-lg container-fluid mb-4 d-flex flex-wrap justify-content-evenly"
>
  <hr class="border border-black border-2 opacity-50" />
  <app-card
    iconClass="bi bi-people fs-1"
    title="Direito da Família"
    description="Divórcio, Separação, União Estável, Guarda, Visitação, Filiação,
      Conciliação e Mediação."
  ></app-card>
  <app-card
    iconClass="bi bi-incognito fs-1"
    title="Crimes Comuns"
    description="Representação legal em casos de crimes comuns, garantindo uma defesa eficaz e análise cuidadosa das evidências."
  ></app-card>
  <app-card
    iconClass="bi bi-house-heart fs-1"
    title="União Estável"
    description="Assistência legal para casais em união estável, abordando direitos e responsabilidades de maneira clara e abrangente."
  ></app-card>
  <hr class="border border-black border-2 opacity-50" />
</div>
<!-- Cards -->
<app-banner></app-banner>
